# Set environment variables (Optional)
#
# Common environment type:
# ------------------------
# SetEnv GLEEZ_ENV production
# SetEnv GLEEZ_ENV staging
# SetEnv GLEEZ_ENV testing
# SetEnv GLEEZ_ENV development

# Use UTF-8 encoding for anything served text/plain or text/html
AddDefaultCharset utf-8

# Force UTF-8 for a number of file formats
AddCharset utf-8 .atom .css .js .json .rss .vtt .xml

# Protect hidden files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

# Start rewrite engine
<IfModule mod_rewrite.c>
	# If your web host doesn't allow the FollowSymlinks option, you may need to
	# comment it out and use `Options +SymLinksIfOwnerMatch`, but be aware of the
	# performance impact: http://goo.gl/Mluzd
	Options +FollowSymlinks
	# Options +SymLinksIfOwnerMatch

	# Turn on URL rewriting
	RewriteEngine On

	# Installation directory
	RewriteBase /

	RewriteCond %{THE_REQUEST} ^.*/index.php
	RewriteRule ^(.*)index.php$ /$1 [R=301,L]

	# Protect application and system files from being viewed
	RewriteRule ^(?:application|modules|themes|system)\b.* index.php/$0 [L]

	# Allow any files or directories that exist to be displayed directly
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	# Rewrite all other URLs to index.php/URL
	RewriteRule .* index.php/$0 [PT]
</IfModule>

# ----------------------------------------------------------------------
# Better website experience for IE users
# ----------------------------------------------------------------------
<IfModule mod_setenvif.c>
  <IfModule mod_headers.c>
    BrowserMatch MSIE ie
    Header set X-UA-Compatible "IE=Edge,chrome=1" env=ie

	<FilesMatch "\.(appcache|crx|css|eot|gif|htc|ico|jpe?g|js|m4a|m4v|manifest|mp4|oex|oga|ogg|ogv|otf|pdf|png|safariextz|svg|svgz|ttf|vcf|webm|webp|woff|xml|xpi)$">
		Header unset X-UA-Compatible
	</FilesMatch>
  </IfModule>
</IfModule>

<IfModule mod_headers.c>
# Because X-UA-Compatible isn't sent to non-IE (to save header bytes),
# We need to inform proxies that content changes based on UA
  Header append Vary User-Agent
# Cache control is set only if mod_headers is enabled, so that's unnecessary to declare
</IfModule>

# Webfont access
<IfModule mod_headers.c>
	<FilesMatch "\.(eot|font.css|otf|ttc|ttf|woff)$">
		Header set Access-Control-Allow-Origin "*"
	</FilesMatch>
</IfModule>
