# Set environment variables (Optional)
#
# Common environment type:
# ------------------------
# SetEnv GLEEZ_ENV production
# SetEnv GLEEZ_ENV staging
# SetEnv GLEEZ_ENV testing
SetEnv GLEEZ_ENV development

# Use UTF-8 encoding for anything served text/plain or text/html
AddDefaultCharset utf-8

# Force UTF-8 for a number of file formats
AddCharset utf-8 .atom .css .js .json .rss .vtt .xml

# Protect hidden files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

# Gleez CMS supports Friendly URLs via this .htaccess file.
# You must serve web pages via Apache with mod_rewrite to use this functionality.
# Start rewrite engine
<IfModule mod_rewrite.c>
	# If your web host doesn't allow the FollowSymlinks option, you may need to
	# comment it out and use `Options +SymLinksIfOwnerMatch`, but be aware of the
	# performance impact: http://goo.gl/Mluzd
	Options +FollowSymlinks
	# Options +SymLinksIfOwnerMatch

	# Turn on URL rewriting
	RewriteEngine On

	# Installation directory
	RewriteBase /

	# Rewrite www.domain.com -> domain.com -- used with SEO Strict URLs plugin
	# Please change domain.com and uncomment three bottom strings
	#RewriteCond %{HTTP_HOST} .
	#RewriteCond %{HTTP_HOST} !^domain\.lo [NC]
	#RewriteRule (.*) http://domain.lo/$1 [R=301,L]

	# For the opposite domain.com -> www.domain.com use the following
	# Please change domain.com and uncomment three bottom strings
	#RewriteCond %{HTTP_HOST} .
	#RewriteCond %{HTTP_HOST} !^www\.domain\.lo [NC]
	#RewriteRule (.*) http://www.domain.lo/$1 [R=301,L]

	# !!! Do not use both redirects !!!
	# www.domain.com -> domain.com
	#            or
	# domain.com -> www.domain.com

	RewriteCond %{THE_REQUEST} ^.*/index.php
	RewriteRule ^(.*)index.php$ /$1 [R=301,L]

	# Protect application and system files from being viewed
	RewriteRule ^(?:application|modules|themes|system)\b.* index.php/$0 [L]

	# Allow any files or directories that exist to be displayed directly
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	# Rewrite all other URLs to index.php/URL
	RewriteRule .* index.php/$0 [PT]
</IfModule>

# ----------------------------------------------------------------------
# Better website experience for IE users
# ----------------------------------------------------------------------
<IfModule mod_setenvif.c>
  <IfModule mod_headers.c>
    BrowserMatch MSIE ie
    Header set X-UA-Compatible "IE=Edge,chrome=1" env=ie

	<FilesMatch "\.(appcache|crx|css|eot|gif|htc|ico|jpe?g|js|m4a|m4v|manifest|mp4|oex|oga|ogg|ogv|otf|pdf|png|safariextz|svg|svgz|ttf|vcf|webm|webp|woff|xml|xpi)$">
		Header unset X-UA-Compatible
	</FilesMatch>
  </IfModule>
</IfModule>

<IfModule mod_headers.c>
# Because X-UA-Compatible isn't sent to non-IE (to save header bytes),
# We need to inform proxies that content changes based on UA
  Header append Vary User-Agent
# Cache control is set only if mod_headers is enabled, so that's unnecessary to declare
</IfModule>

# Webfont access
<IfModule mod_headers.c>
	<FilesMatch "\.(eot|font.css|otf|ttc|ttf|woff)$">
		Header set Access-Control-Allow-Origin "*"
	</FilesMatch>
</IfModule>

# If your server is not already configured as such, the following directive
# should be uncommented in order to set PHP's register_globals option to OFF.
# This closes a major security hole that is abused by most XSS (cross-site
# scripting) attacks. For more information: http://php.net/register_globals
#
# Your server does not allow PHP directives to be set via .htaccess. In that
# case you must make this change in your php.ini file instead. If you are
# using a commercial web host, contact the administrators for assistance in
# doing this. Not all servers allow local php.ini files, and they should
# include all PHP configurations (not just this one), or you will effectively
# reset everything to PHP defaults. Consult www.php.net for more detailed
# information about setting PHP directives.

#php_flag register_globals Off

# For servers that support output compression, you should pick up a bit of
# speed by un-commenting the following lines.

#php_flag zlib.output_compression On
#php_value zlib.output_compression_level 5
