<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="./bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    strict-coverage="true"
    report-useless-tests="true"
    enforce-time-limit="true">
  <testsuites>
    <testsuite name="Gleez Autoloader Test Suite">
        <directory>./src</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./src</directory>
      <exclude>
          <directory>./src</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
