/* For those times when Tweeter Bootstrap not exists */
.label{
  display:inline-block;
  padding:2px 4px;
  font-size:11.844px;
  font-weight:bold;
  line-height:14px;
  color:#fff;
  vertical-align:baseline;
  white-space:nowrap;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color:#999;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
/* Own module styles */
.label-emergency{background-color:#333;}
.label-alert{background-color:#f89406;}
.label-critical{background-color:#b94a48;}
.label-error{background-color:#b94a48;}
.label-warning{background-color:#f89406;}
.label-notice{background-color:#3a87ad;}
.label-info{background-color:#468847;}
.label-debug{background-color:#3a87ad;}
.label-srace{background-color:#333;}
