
body {
    background-color: #F1F8DB;
    background-image: url("../images/grid-18px-masked.png");
    background-repeat: repeat-x;
    position: relative;
    padding-top: 60px;
}

div#pageContent {
  background: #fff;
  margin-top: 10px;
  padding: 1em;
}
#site-title{
    margin-bottom: 0;
}
.footer {
    margin-bottom: 5px;
    padding: 10px 0;
    background-color: #6BAA3D;
    color: #ffffff;
}
.footer small {
    font-size: 12px;
    font-weight: normal;
}
#powerdby{
    text-align: right;
}


#left, #right{
    margin-top: 10px;
}

.post-list{
    margin-bottom: 2em;
}

.post div.meta span {
    line-height: 3.5;
    padding-left: 10px;
}
.post .meta{
    margin-top: 2px;
    margin-bottom: 0.5em;
}
.post .author{
    text-transform: capitalize;
}
.post div.meta span.author img {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 0 none;
    float: left;
    margin-top: 5px;
}
.taxonomy .nav{
    margin-bottom: 0;
}
.taxonomy .nav-pills > li > a {
    background-color: #F8FCED;
    text-transform: capitalize;
}
.post .content, .post .post-content{
    text-align: justify;
}

ul.page-stats,
ul.page-stats ul {
	list-style: none;
}

.marketing h1 {
    font-size: 36px;
    font-weight: 300;
    margin: 36px 0 27px;
    text-align: center;
}
.marketing h2 {
    margin-bottom: 9px;
}
.marketing h2, .marketing h3 {
    font-weight: 300;
}
.marketing .icon {
    float: left;
    margin: 7px 10px 0 0;
    opacity: 0.8;
    background-color: transparent;
    background-image: url("../images/icons.png");
    background-repeat: no-repeat;
    display: block;
    height: 30px;
    width: 30px;
}
.marketing .modules span.icon {
    background-position: -210px -30px;
}
.marketing .themes span.icon {
    background-position: -120px -30px;
}
.marketing .widgets span.icon {
    background-position: -180px -30px;
}
.marketing .users span.icon {
    background-position: -210px -90px;
}
.marketing .taxonomy span.icon {
    background-position: -60px -30px;
}
.marketing .seo span.icon {
    background-position: -120px -90px;
}
.hero-unit {
    padding: 5px 30px;
    background-color: transparent;
}
.hero-unit h1 {
    font-size: 45px;
    font: 45px Georgia,"Times New Roman",Times,serif;
}
.btn.download{
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #D6770C;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#F5BF13), to(#D6770C));
    background-image: -moz-linear-gradient(top, #F5BF13, #D6770C);
    background-image: -ms-linear-gradient(top, #F5BF13, #D6770C);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F5BF13), color-stop(100%, #D6770C));
    background-image: -webkit-linear-gradient(top, #F5BF13, #D6770C);
    background-image: -o-linear-gradient(top, #F5BF13, #D6770C);
    background-image: linear-gradient(top, #F5BF13, #D6770C);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5BF13', endColorstr='#D6770C', GradientType=0);
    border-color: #0064cd #0064cd #003f81;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.hero-unit .btn-large {
    border-radius: 6px 6px 6px 6px;
    font-size: 20px;
    margin-right: 5px;
    padding: 14px 24px;
}

.radio.inline, .checkbox.inline {
  white-space: nowrap;
}

/* font-awesome fix */
[class^="icon-"],
[class*=" icon-"] {
	margin-right: 4px;
}


/* Responsive Docs
-------------------------------------------------- */
@media (max-width: 480px) {

  /* Reduce padding above jumbotron */
  body {
    padding-top: 70px;
  }
}

@media (max-width: 768px) {

  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 980px) {

  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  /* Scale down the jumbotron content */
  .jumbotron h1 {
    font-size: 42px;
  }

}

@media (max-width: 980px) {

  /* Unfloat brand */
  .navbar-fixed-top .brand {
    float: left;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}
