.empty-photo {
        width: 150px;
        height: 150px;
}

.empty-photo i {
        margin: 0 auto;
        display: block;
        width: 1em;
        position: relative;
        top: 70px;
}

.user-login form
{
        width: 400px;
        margin: 0.5em auto;
}
form ul#auth-providers
{
        border-top: 1px dashed #ccc;
        list-style: none;
        margin: 0px;
        padding: 0px;
        text-align: center;
        text-decoration: none;
}
form #auth-providers .provider
{
        list-style: none;
        display: inline;
        padding: 2px 5px;
        text-decoration: none;
}
.provider A:link, .provider A:active, .provider A:visited
{
        width: 35px;
        height: 35px;
        font-size: 0px;
        display: inline-block;
        text-decoration: none;
        color: inherit;
}
.facebook a
{
        background: url('../images/facebook-32.png') no-repeat;
}
.google a
{
        background: url('../images/google-32.png') no-repeat;
}
.live a
{
        background: url('../images/windows-32.png') no-repeat;
}

#oauth-providers, ul#post-provider-buttons {
        padding:0px;
        margin: 0px;
        display: block;
}
#oauth-providers .oprovider {
        list-style: none;
        display: inline;
        font-size: 12px !important;
        text-decoration: none;
        cursor: pointer;
        border: medium none !important;
        float: left;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
       -khtml-border-radius: 3px;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
        box-shadow: 1px 0 1px rgba(255, 255, 255, 0.5);
        padding: 2px 6px;
        margin-right: 1em;
        margin-bottom: 0.5em;
}

#oauth-providers li a {
    height: 24px;
    color: #fff;
    padding: 2px 0 2px 20px;
}

#oauth-providers li A.base{
        background-image: url('../images/gleez-16.png');
        background-repeat: no-repeat;
}
#oauth-providers .facebook a{
        background-image: url('../images/facebook-16.png');
        background-repeat: no-repeat;
}
#oauth-providers .google a{
        background-image: url('../images/google-16.png');
        background-repeat: no-repeat;
}
#oauth-providers A.live {
        color: #3C6B9C;
        background-image: url('../images/windows-16.png');
        background-repeat: no-repeat;
}
#oauth-providers .base{
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ECE48', endColorstr='#45a059'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#7ECE48), to(#45a059)); /* for webkit browsers */
        background: -moz-linear-gradient(center top , #7ECE48, #45a059) repeat scroll 0 0 transparent; /* for firefox 3.6+ */
}
#oauth-providers .facebook{
        background: #999; /* for non-css3 browsers */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5E76AB', endColorstr='#305192'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#5E76AB), to(#305192)); /* for webkit browsers */
        background: -moz-linear-gradient(center top , #5E76AB, #305192) repeat scroll 0 0 transparent; /* for firefox 3.6+ */
}
#oauth-providers .google{
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ECE48', endColorstr='#45a059'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#7ECE48), to(#45a059)); /* for webkit browsers */
        background: -moz-linear-gradient(center top , #7ECE48, #45a059) repeat scroll 0 0 transparent; /* for firefox 3.6+ */
}
#oauth-providers li.live{
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddeff0', endColorstr='#85DCE2'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#ddeff0), to(#85DCE2)); /* for webkit browsers */
        background: -moz-linear-gradient(center top , #ddeff0, #85DCE2) repeat scroll 0 0 transparent; /* for firefox 3.6+ */
        color: #3C6B9C;
}
#post-provider-buttons{
        border: 1px solid #eee;
        padding: 3px;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
       -khtml-border-radius: 3px;
}
#post-provider-buttons textarea{
        background: #eeeeee;
}

