.user .page-container {
	background: transparent;
}

/* Space after footer. Mb should create general margin, and remove this rule? */
.user-register .panel {
	margin-bottom: 7em;
}

/* Overrides for BS3. Big panels should have big title */
.user-register h3.panel-title,
.user-reset_password h3.panel-title,
.user-reset_confirm_password h3.panel-title{
	font-size: 22px;
	text-transform: none;
}

/* Overrides for BS3. Login panel should have big title - this is site name */
.user-login h1.panel-title {
	font-size: 36px;
	text-transform: none;
}

.vcard dl:first-child {
	margin-top: 0;
}

.widget .login-fields {
	margin-bottom: 0;
}

/* Use this as standard shadow effect for any windows, widgets, panels, etc. */
.window-shadow {
	-webkit-box-shadow: 0 0 20px #DADADA, inset 0 0 0 #E6E6E6;
	   -moz-box-shadow: 0 0 20px #DADADA, inset 0 0 0 #E6E6E6;
	        box-shadow: 0 0 20px #DADADA, inset 0 0 0 #E6E6E6;
}

.login-fields, .login-actions {
    float: left;
    margin-bottom: 1.25em;
    margin-top: -1em;
    width: 100%;
}

.input-prepend {
    display: inline-block;
    font-size: 0;
    margin-bottom: 10px;
    vertical-align: middle;
    white-space: nowrap;
}

.vcard img,
.empty-photo {
	padding: 5px;
	background: #fff;
	margin: 0 auto;
	display: block;
}

.empty-photo i {
	margin: 0 auto;
	display: block;
	width: 1em;
	position: relative;
	top: 70px;
}

a#add-pic {
	color: #838383;
	display: block;
}

a#add-pic:hover {
	color: indianred;
}

.vcard h2 {
	font-size: 26px;
	color: #444;
	margin: 0;
	text-transform: none;
}

.vcard h2 span {
	line-height: 1;
	line-height: 26px;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}

.vcard h2 em {
	display: inline-block;
	width: 100%;
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	line-height: 24px;
	margin-bottom: 10px;
}

.vcard dl {
	position: relative;
	margin-bottom: 1em;
	line-height: 1.65em;
}

.vcard dl dt {
	margin: 0;
	float: left;
}

.vcard dl dt i {
	font-size: 1.25em;
}

.vcard dl dd {
	margin: 0 0 0 2.2em;
	width: 195px;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.vcard .list-group-item h3 {
	margin: 0;
}

.login-fields,
.login-actions {
	float: left;
	width: 100%;
	margin-top: -1em;
	margin-bottom: 1.25em;
}

.user-password .login-fields {
	margin-top: 1em;
}

.login-fields .field {
	margin-bottom: 1.25em;
}


.login-fields input[type="password"],
.login-fields input[type="text"] {
	height: 38px;
	font-size: 16px;
	color: #8E8D8D;
	padding: 0 10px;
	display: block;
	margin: 0;
	-webkit-box-shadow: inset 2px 2px 4px #F1F1F1;
	   -moz-box-shadow: inset 2px 2px 4px #F1F1F1;
	        box-shadow: inset 2px 2px 4px #F1F1F1;
}

.widget .login-fields input[type="password"],
.widget .login-fields input[type="text"] {
	width: 174px;
}

.login-fields .icon-large:before {
	font-size: 1.8em;
	padding-top: .1em;
}

.login-actions ul {
	list-style-type: none;
	min-height: 18px;
	margin-left: 0;
}

.login-actions ul li {
	float: left;
	width: 47%;
	padding-right: 3%;
	line-height: 18px;
	text-align: right;
}

.login-actions ul li:nth-child(2n) {
	border-left: 1px solid #838383;
	margin-left: -1px;
	text-align: left;
	padding-left: 3%;
	padding-right: 0;
}

.oauth-buttons .btn.btn-default{
	margin: 1em;
	min-width: 120px;
}

.user-register .provider {
	list-style: none;
	width: 156px;
	height: 32px;
	margin-bottom: .4em;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 1px rgba(0,0,0,.3);
	   -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 1px rgba(0,0,0,.3);
	        box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 1px rgba(0,0,0,.3);
}

.user-register .provider a {
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);
	vertical-align: middle;
	height: 32px;
	width: 108px;
	line-height: 32px;
	display: inline-block;
	color: #fff;
	font-weight: bold;
	font-size: 11px;
}

.help-signin {
	color: #333;
	background: #FDFDFD;
	margin: 1em .2em;
	font-family: Cambria, Georgia ,serif;
	font-size: 100%;
	line-height: 120%;
	padding: .8em .9em;
	border: 1px dashed #E4E4E4;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

form .captcha {
	display: block;
}

ul{
	list-style:none;
}

ul.tabnav > li {
    color: #333;
    display: inline;
    float: right;
    font-size: 11px;
    list-style-type: none;
    margin: 0 5px 0 0;
}

.reset_password legend {
	padding: 0 1em;
}

#user .list-group .list-group-item .list-group-chevron {
	color: #BBB;
	float: right;
	margin-top: 5px;
}

#user .list-group .list-group-item i {
	color: #333;
}

#user .vcard .caption-label{
	padding-right: 10px;
}

#user .list-group-chevron + .badge {
	margin-right: 10px;
}

.btn-sm .fa, .btn-xs .fa {
	font-size: 13px;
}

.vcard-details {
    padding-top:20px;
    border-top: 1px solid #E9E9E9;
	color: #444;
}
.bio .widget-header{
    padding-top:20px;
}

.col-sidebar-right {
    border-left: 1px solid #ddd;
    padding-left: 2em;
}

#form-picture{
    height:auto;
}

.message-unread {
	font-weight: bold;
}
.buddy_sent a{
	float:right;
}


.list-all1 .friends img{
	height:50px;
	width:50px;
	display:inline-block;
}
.list-all .allusers img{
	height:80px;
	width:80px;
}
.list-all .friends .fa{
	padding-top:15px;
}
.list-all .all-view{
	padding-right: 5px;
}
.list-group-item.friends, .list-group-item.allusers{
	border-left: none;
	border-right: none;
}
.list-all .panel-heading{
	border-bottom: none;
}

.list-all .allusers img{
	height:80px;
	width:80px;
}
.list-all .panel-heading{
	padding:5px 10px;
}
.list-all .panel-heading .btn{
	padding:2px 10px;
	margin-right:5px;
}
.list-all .panel-heading h3{
	line-height: 1.2em;
}