@charset "utf-8";

body.backend {
	background-image: url('../images/alt-bg.png');
	padding-top: 0px;
}

#backend .navbar {
	-webkit-box-shadow: none;
		-moz-box-shadow: none;
			box-shadow: none;
	-webkit-border-radius: 0;
		-moz-border-radius: 0;
			border-radius: 0;
	margin-bottom: 0;
}

#backend .navbar-brand {
	color: #FFFFFF;
}

#backend .navbar-sub {
	display: none;
}

#backend #messages {
	position: static;
}

.page-settings-form .set-check .checkbox {
	margin-left: 22em;
}

.blog-settings-form .set-check .checkbox {
	margin-left: 22em;
}

#content .main-content {
	background: #fff;
	padding-bottom: 1em;
}

.page-header h1 {
	position: relative;
	color: #444;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

#backend .panel-body ul.menus li.active a:after {
	right: -1px;
}

.module-description, .module-version{
	color: #999999;
}

.quick-actions{
	display: inline-block;
	list-style: none outside none;
	margin: 20px 0 10px;
	padding: 0;
}

.quick-actions li{
	padding: 0;
}

.quick-actions li{
	width: 150px;
}

.quick-actions li {
	display: inline-block;
	line-height: 18px;
	margin: 0 10px 10px;
	border: 1px solid #D5D5D5;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	     -o-border-radius: 4px;
	        border-radius: 4px;
	-webkit-box-shadow: 0 1px 0 0 #fff inset, 0 1px 0 rgba(255, 255, 255, .4);
	   -moz-box-shadow: 0 1px 0 0 #fff inset, 0 1px 0 rgba(255, 255, 255, .4);
	        box-shadow: 0 1px 0 0 #fff inset, 0 1px 0 rgba(255, 255, 255, .4);
	background: #f9f9f9; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGViZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #edebf4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#edebf4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#edebf4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9f9f9 0%,#edebf4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#edebf4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9f9f9 0%,#edebf4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#edebf4',GradientType=0 ); /* IE6-8 */
}

.quick-actions li a{
	color: #666;
	display: block;
	text-align: center !important;
	text-shadow: 0 1px 0 #fff;
}

.quick-actions li a {
	padding: 10px 30px;
}

#dashboard-widgets-wrap.row{
	padding-left:15px;
	padding-right:15px;
}

#widgets tr.region-title td {
	background-color: #E9E9E9;
	font-weight: bold;
}

#widgets tr.region-message {
	color: #999;
	font-weight: normal;
}

#widgets tr.region-populated {
	display: none;
}

#widgets tr.region-title--1 td {
	border-left: 3px solid #BA5D0F;
	color: #BA5D0F;
}

#admin-list-users .user-roles{
	margin: 0 0 10px 15px;
	list-style:disc;
}

.widget-admin-welcome ul {
	padding-left: 40px
}

.widget-admin-info .panel-body {
	padding: 0;
}

.widget-admin-info .table {
	margin: 0;
}

.widget-admin-info .table > tbody > tr > th {
	width: 30%;
}

.widget-admin-info .table > tbody > tr:first-child > th,
.widget-admin-info .table > tbody > tr:first-child > td {
	border-top: 0;
}

#backend .sidebar .widget.panel{
	border: 0;
}

.dataTables_filter .col-xs-4{
	padding-left: 5px;
	padding-right: 5px;
}

.sys-icon .col-md-12{
	padding-left: 0;
	padding-right: 0;
}

.sys-icon .select2-container .select2-choice {
	height:34px;
	border: 1px solid #ccc;
}

#form-status.status{
	margin-bottom:10px;
}

/* dashboard*/

.sidebar {
  display: none;
}

.nav-sidebar {
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -21px;
}
.nav-sidebar > li > a {
    padding-left: 20px;
    padding-right: 20px;
}
.main {
    padding-left: 40px;
    padding-right: 40px;
}
.main .page-header {
    margin-top: 0;
}
.nav-sidebar > .active > a {
    background-color: #428BCA;
    color: #FFFFFF;
}
.nav-sidebar > li > a {
    padding-left: 20px;
    padding-right: 20px;
}


@media (min-width: 768px) {
	#content.backend-main {
		background: #222;
		background-image: -webkit-gradient(linear, left 0%, left 100%, from(#3f3f3f), to(#222222));
		background-image: -webkit-linear-gradient(top, #3f3f3f, 0%, #222222, 100%);
		background-image: -moz-linear-gradient(top, #3f3f3f 0%, #222222 100%);
		background-image: linear-gradient(to bottom, #3f3f3f 0%, #222222 100%);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3f3f3f', endColorstr='#ff222222', GradientType=0);
	}

	#content{
		background: #666666;
	}

	#backend .navbar-brand {
		padding-top: 25px;
		font-size: 20px;
		line-height: 22px;
	}

	#backend .navbar {
		height: 67px;
	}

	#backend .navbar-sub {
		background: #444;
		background-image: -webkit-gradient(linear, left 0%, left 100%, from(#464646), to(#363636));
		background-image: -webkit-linear-gradient(top, #464646, 0%, #363636, 100%);
		background-image: -moz-linear-gradient(top, #464646 0%, #363636 100%);
		background-image: linear-gradient(to bottom, #464646 0%, #363636 100%);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff464646', endColorstr='#ff363636', GradientType=0);
		height: 57px;
		display: block;
	}

	#backend #content .main-content {
		display: table-cell;
		float: none;
		padding-left: 0px
	}

	#backend .sidebar {
		display: table-cell;
		float: none;
		padding: 5px 0px 20px 0px;
		background-color: #F8F8F8;
		border-right: 1px solid #eee;
	}

	#content .content-wrapper {
		background: #fff;
		position: relative;
		top: -75px;
		padding-left: 15px;
	}

	#backend .page-header {
		color: #888888;
		height: 75px;
		position: relative;
		top: -75px;
		margin: 0;
		margin-bottom: 5px;
		padding: 0;
		background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#eeeeee));
		background-image: -webkit-linear-gradient(top, #ffffff, 0%, #eeeeee, 100%);
		background-image: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
		background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
		border-bottom: 1px solid #CCC;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
	}

	.page-header:after {
	  clear: both;
	}

	.page-header h1 {
		margin: 0;
		font-size: 28px;
		font-weight: 400;
		line-height: 76px;
		letter-spacing: -2px;
		padding-left: 15px;
	}
}