@charset "utf-8";

body.backend {
	background-image: url('../images/alt-bg.png');
	padding-top: 50px;
}

#backend .navbar {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}

#backend #messages {
	position: static;
}

.page-settings-form .set-check .checkbox {
	margin-left: 22em;
}

.blog-settings-form .set-check .checkbox {
	margin-left: 22em;
}

#backend .page-header {
	padding-bottom: 0;
	border: none;
}

#backend .panel-body ul.menus li.active a:after {
	right: -1px;
}

.quick-actions{
	display: inline-block;
	list-style: none outside none;
	margin: 20px 0 10px;
	padding: 0;
}

.quick-actions li{
	padding: 0;
}

.quick-actions li{
	width: 150px;
}

.quick-actions li {
	display: inline-block;
	line-height: 18px;
	margin: 0 10px 10px;
	border: 1px solid #D5D5D5;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	     -o-border-radius: 4px;
	        border-radius: 4px;
	-webkit-box-shadow: 0 1px 0 0 #fff inset, 0 1px 0 rgba(255, 255, 255, .4);
	   -moz-box-shadow: 0 1px 0 0 #fff inset, 0 1px 0 rgba(255, 255, 255, .4);
	        box-shadow: 0 1px 0 0 #fff inset, 0 1px 0 rgba(255, 255, 255, .4);
	background: #f9f9f9; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGViZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #edebf4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#edebf4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#edebf4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9f9f9 0%,#edebf4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#edebf4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9f9f9 0%,#edebf4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#edebf4',GradientType=0 ); /* IE6-8 */
}

.quick-actions li a{
	color: #666;
	display: block;
	text-align: center !important;
	text-shadow: 0 1px 0 #fff;
}

.quick-actions li a {
	padding: 10px 30px;
}

#dashboard-widgets-wrap.row{
	padding-left:15px;
	padding-right:15px;
}

#widgets tr.region-title td {
	background-color: #E9E9E9;
	font-weight: bold;
}

#widgets tr.region-message {
	color: #999;
	font-weight: normal;
}

#widgets tr.region-populated {
	display: none;
}

#widgets tr.region-title--1 td {
	border-left: 3px solid #BA5D0F;
	color: #BA5D0F;
}

#admin-list-users .user-roles{
	margin: 0 0 10px 25px;
}

.widget-admin-welcome ul {
	padding-left: 40px
}

.widget-admin-info .panel-body {
	padding: 0;
}

.widget-admin-info .table {
	margin: 0;
}

.widget-admin-info .table > tbody > tr > th {
	width: 30%;
}

.widget-admin-info .table > tbody > tr:first-child > th,
.widget-admin-info .table > tbody > tr:first-child > td {
	border-top: 0;
}

.dataTables_filter .col-xs-4{
	padding-left: 5px;
	padding-right: 5px;
}

.sys-icon .col-md-12{
	padding-left: 0;
	padding-right: 0;
}

.sys-icon .select2-container .select2-choice {
	height:34px;
	border: 1px solid #ccc;
}

#form-status.status{
	margin-bottom:10px;
}

/* dashboard*/

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    padding: 50px 0px 20px 0px;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
.nav-sidebar {
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -21px;
}
.nav-sidebar > li > a {
    padding-left: 20px;
    padding-right: 20px;
}
.main {
    padding-left: 40px;
    padding-right: 40px;
}
.main .page-header {
    margin-top: 0;
}
.nav-sidebar > .active > a {
    background-color: #428BCA;
    color: #FFFFFF;
}
.nav-sidebar > li > a {
    padding-left: 20px;
    padding-right: 20px;
}