ol.comments{
	padding-left:0;
}
ol.comments li{
	list-style: none;
}
li.comment{
	border-top: 1px solid #DDDDDD;
	line-height: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
}
.data .date-created{
	color:#999999;
}
.author.thumbnail {
    width: 50px;
    height: 50px;
}
.comment-content{
	padding-top:10px;
}