html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px;
}

.systemcheck #wrap {
	margin: 0 auto 40px;
}

#wrap > .container {
	padding-top: 60px;
}

#push, #footer {
	height: 60px;
}

#footer {
	padding: 20px 0;
	border-top: 1px solid #E5E5E5;
	background: #F5F5F5;
	color: #777;
	clear:both;
}

#footer .credits {
	text-align: center;
}

#tests table {
	background: #fff;
	font-size: 13px;
}

.finalize .button-controls {
	text-align: center;
	margin: 20px 0;
}
