body {
    padding-top: 60px;
}

body > .container,
.container .menu {
    margin-top: 2em;
}


.hero-unit h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.progress {
    margin-bottom: 2em;
}

.footer {
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
    background-color: #F5F5F5;
}

.footer p {
    margin-bottom: 0;
    color: #777;
}

.footer-credits {
    text-align: center;
}