@charset "utf-8";

/* Homepage masthead */
.masthead {
	position: relative;
	padding: 30px 15px;
	text-align: center;
}

.masthead h1 {
	font-family: 'Kaushan Script', cursive;
	font-size: 50px;
	line-height: 1;
	text-transform: none;
}

.masthead-links {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 0;
	list-style: none;
	text-align: center;
}

.masthead-links li {
	display: inline;
	color: #999;
}

.masthead-links li + li {
	margin-left: 20px;
}

.dochead {
	padding: 15px 20px;
	color: #777;
	background-color: #fafafa;
	border: 1px solid #e5e5e5;
}

.dochead .container-fluid {
	padding-top: 0;
}

.dochead p {
	margin: 0;
}

.dochead .container-fluid {
	text-align: center;
}

.masthead-social {
	margin: 20px 0 30px;
	text-align: center;
}

.social-buttons {
	display: inline-block;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.social-buttons li {
	display: inline-block;
	line-height: 1;
}

.docbody {
	text-align: justify;
	text-justify: inter-word;
	/**
	 * Android webview bug, without this property text-align dosen't work.
	 * -
	 * Chrome treats this as optimizeSpeed.
	 * Work is continuing on https://bugs.webkit.org/show_bug.cgi?id=41363
	 * -
	 * Safari treats this as optimizeSpeed.
	 * Work is continuing on https://bugs.webkit.org/show_bug.cgi?id=41363
	 */
	text-rendering: auto;
	margin: 30px 0;
}

.docbody h3 {
	text-transform: none;
}

.docbody p {
	color: #777;
	font-size: 16px;
	line-height: 1.6;
}

.features {
	margin-top: 30px;
	text-align: center;
}

.features h4 {
	text-transform: none;
}

.features p {
	text-align: justify;
	text-justify: inter-word;
	margin-bottom: 40px;
	font-size: 14px;
}

